body {
	margin: 0;
}

.box {
	height: 300px;
	width: 600px;
	border: 1px solid black;
	margin: 0 auto;
}

.box .snowman {
	font-size: 40px;
}

.stairs {
	background-color: black;
	width: 30px;
	height: 15px;
	position: static;
}

.stairs:nth-of-type(1) {
	left: 0px;
	position: relative;
}

.stairs:nth-of-type(2) {
	left: 0px;
	top: 0px;
	position: relative;
}

.stairs:nth-of-type(3) {
	left: 30px;
	top: 0px;
	position: relative;
}

.stairs:nth-of-type(4) {
	left: 60px;
	top: 0px;
	position: relative;
}

.stairs:nth-of-type(5) {
	left: 90px;
	top: 0px;
	position: relative;
}

.stairs:nth-of-type(6) {
	left: 120px;
	top: 0px;
	position: relative;
}