body {
	margin: 0;
}

.snowman {
	font-size: 100px;
}

.stairs {
	height: 100%;
	width: 100px;
	background-color: black;
	position: fixed;
}

.stairs:nth-of-type(1) {
	right: 0px;
	top: 0px;
	
}

.stairs:nth-of-type(2) {
	left: 100px;
	top: 170px;
}

.stairs:nth-of-type(3) {
	left: 200px;
	top: 200px;
}

.stairs:nth-of-type(4) {
	left: 300px;
	top: 230px;
}

.stairs:nth-of-type(5) {
	left: 400px;
	top: 260px;
}
